<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/game.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>GAME</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <div class="row align-items-center col-md-9">
          <div class="col-1 col-md-1">
            <a href="/"><div class="back-arrow"></div></a>
          </div>
          <div class="col-2 col-md-1 logo"></div>
          <div class="col-2 col-md-4 text-logo">ROCK PAPER SCISSOR</div>
        </div>
      </div>

      <div class="main row col-12 justify-content-center">
        <div class="row justify-content-center">
          <div class="col-2 col-md-2"></div>
          <div class="col-2 col-md-2 text-title d-flex justify-content-center">
            Player 1
          </div>
          <div class="col-3 col-md-3"></div>
          <div class="col-2 col-md-2 d-flex justify-content-center text-title">
            COM
          </div>
          <div class="col-2 col-md-2"></div>
        </div>
        <!-- rock item -->
        <div class="row justify-content-center ptt">
          <div class="col-2 col-md-2"></div>
          <div id="rock" class="col-2 col-md-2 rock-image playerchoice"></div>
          <div class="col-3 col-md-3"></div>
          <div
            id="imageCom-rock"
            class="col-2 col-md-2 d-flex justify-content-center rock-image"
          ></div>
          <div class="col-2 col-md-2"></div>
        </div>
        <!-- rock item end -->
        <!-- paper item -->
        <div class="row justify-content-center ptt">
          <div class="col-2 col-md-2"></div>
          <div id="paper" class="col-2 col-md-2 paper-image playerchoice"></div>
          <div
            id="winner"
            class="col-3 col-md-3 d-flex justify-content-center align-items-center text-vs"
          >
            VS
          </div>
          <div
            id="imageCom-paper"
            class="col-2 col-md-2 d-flex justify-content-center paper-image"
          ></div>
          <div class="col-2 col-md-2"></div>
        </div>
        <!-- paper item end -->
        <div class="row justify-content-center ptt">
          <div class="col-2 col-md-2"></div>
          <div
            id="scissor"
            class="col-2 col-md-2 scissor-image playerchoice"
          ></div>
          <div class="col-3 col-md-3"></div>
          <div
            id="imageCom-scissor"
            class="col-2 col-md-2 d-flex justify-content-center scissor-image"
          ></div>
          <div class="col-2 col-md-2"></div>
        </div>
        <div class="row col-12 justify-content-center">
          <div class="refresh"></div>
        </div>
      </div>
    </div>
    <script src="games.js"></script>
  </body>
</html>
